/* AuthForm.css */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem;;
  background-color: #f4f4f4;
}

.auth-container form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.auth-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.auth-container button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4a90e2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #357ab8;
}

.auth-toggle,
.auth-reset {
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #4a90e2;
  font-weight: 500;
  cursor: pointer;
}

.auth-toggle:hover,
.auth-reset:hover {
  text-decoration: underline;
}

.auth-message {
  margin-top: 1rem;
  text-align: center;
  color: #d9534f;
  font-weight: bold;
}
.auth-message.success {
  color: #5cb85c;
}
